body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

footer {
  height: 100px;
  width: 100vw;
  background: lightgrey;
  bottom: 0;
  position: absolute;
}

header {
  height: 10vmin;
  max-height: 100px;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: lightgrey;
}

nav {
  display: flex;
  flex-direction: row;
  height: 100%;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  padding: 2px 5px;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
